SEFMediaPreparer.pro.user

Makefile*
.qmake.stash
mocinclude.opt
ui_MediaPreparer.h
sefmediapreparer_plugin_import.cpp
SEFMediaPreparer_resource.rc

.jenkins/
release/
build/

tools/deploy.bat
tools/commit.bat