SEFMediaPreparer.pro.user

Makefile*
.qmake.stash
mocinclude.opt
ui_MediaPreparer.h
sefmediapreparer_plugin_import.cpp
SEFMediaPreparer_resource.rc

.cproject
.externalToolBuilders/
.project
.settings/

installer/
release/
build/
bin/

SEFMediaPreparer-*-Setup.exe

tools/deploy.bat
tools/commit.bat

.jenkins/*.txt
.jenkins/*.log