SEFMediaPreparer.pro.user

Makefile*
.qmake.stash
mocinclude.opt
ui_MediaPreparer.h
sefmediapreparer_plugin_import.cpp
SEFMediaPreparer_resource.rc

release/
build/
bin/

tools/deploy.bat
tools/commit.bat

.jenkins/*.txt
.jenkins/*.log